{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        com.pitch/uix.core {:mvn/version "1.4.4"}
        com.pitch/uix.dom {:mvn/version "1.4.4"}

        ;; Server dependencies
        ring/ring-core {:mvn/version "1.14.2"}
        ring/ring-jetty-adapter {:mvn/version "1.14.2"}
        metosin/reitit {:mvn/version "0.9.1"}
        metosin/reitit-ring {:mvn/version "0.9.1"}

        ;; Development
        thheller/shadow-cljs {:mvn/version "3.1.8"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                     cider/cider-nrepl {:mvn/version "0.45.0"}}
        :jvm-opts ["-Xmx2G"]}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}

  :server {:main-opts ["-m" "main.core"]}

  :static {:extra-paths ["dev"]
           :main-opts ["-m" "build"]}

  :outdated {:replace-deps {olical/depot {:mvn/version "2.4.1"}}
             :main-opts ["-m" "depot.outdated.main"]}}}
